.box{padding-bottom:30%;
    width: 45%;
    margin:  auto;

}

.part{background-color: #f90;
      width:30%;
      float: left;
      margin: 1%;
      padding-bottom: 30%;
      border-radius: 15px;
}
