.top{
  position: fixed;
  top: 0;
  clear: both;
  width: 100%;
  height: 120px;
  z-index: 99999;
}
.header{
  width: 100%;
  height: 60px;
  background: rgb(95,192,205);
}
.main{
  margin-top: 120px;
  margin-bottom: 70px;
}
.footer{
  position: fixed;
  bottom: 0;
  clear: both;
  width: 100%;
  height: 60px;
  background: #eee    /*rgb(248,250,251);*/
}

.img02{
  margin-top: 10px;
}
.img2{
  width: 30px;
  height: 45px;
}
.img03{
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5px;
}
.img3{
  width: 50px;
  height: 50px;
}
.img04{
    margin-top: 10px;
}
.img4{
  width: 30px;
  height: 45px;
}
.headermiddle{
  text-align: center;
  width: 60%;
  float: right;
  margin-top: 15px;
}
.btn{
  font-size: 15px;
  border: none;
  border-radius: 5px;
}
.btn:active{
  color: #fff;
  background-color: rgb(85,168,179);
}
.btn1{
  color: #fff;
  background-color: rgb(85,168,179);
}
.btn2{
  color: rgb(95,192,205);
  background-color: #fff;
  margin-left: -10px;
  /*border-top-left-radius:10px;
  border-top-right-radius:10px;
  border-bottom-right-radius:10px;
  border-bottom-left-radius:10px;*/
}
.headerright{
  width: 20%;
  float: right;
  padding-right: 10px;
  padding-top: 15PX;
}
.img1{
  width: 30px;
  height: 30px;
  float: right;
}
.listbar{
  color: rgb(153,153,153);
  font-size: 18px;
  z-index: 99999;
  height: 60px;
  background: #fff;
}
.select1{
  width: 100%;
}
.center{
  text-align: center;
}
.col-xs-4{
  border-bottom: 2px solid rgb(225,229,231);
  padding: 15px 0;
}
select{
  width: 100%;
  height: 25px;
  text-align: center;
  text-align-last: center;
  border: none;
  outline: none;
}
.juzhong{
  margin: 0 auto;
}
.part{
  width: 100%;
  height: 100px;
  border-bottom: 2px solid #eee;
  margin: 5px 0;

}
.box{
  display: flex;
  align-items:center;
  justify-content: space-between;
  line-height: 2em;
}
.box1{
  display: flex;
  justify-content:center;
}
.cont,
.part-family4,
.part-family1{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.cont{
  margin-left: 15px;
}
.cont1{
  margin-right: 15px;
}
.img5,
.img6{
  width: 20px;
  height: 20px;
}
.part-family1{
  font-size: 18px;
  color: rgb(153,153,153);
}
.part-family2{
  font-size: 18px;
  margin-left: 30px;
}
.part-family3{
  font-size: 18px;
  color: red;
  white-space: nowrap;
}
.part-family4{
}
.blue{
  color: rgb(85,168,179);
}
